.header {
  display: flex;
  justify-content: space-between;
}
.navbar {
  display: flex;
  justify-content: center;
}
.menu-item {
  display: inline;
  margin-right: 1.5rem;
  font-size: 1.2rem;
}
.menu-item a {
  text-decoration: none;
  color: #185357;
}
