.sources-title {
  color: #444;
  text-align: center;
  letter-spacing: 0.05rem;
}
.sources-menu {
  list-style-type: none;
  font-size: 1.3em;
  display: flex;
  justify-content: space-around;
}
.source-link {
  margin-top: 2em;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.source-link .source {
  text-decoration: none;
  color: #185357;
}
.source-link .source:hover {
  color: #444;
}
.source-image {
  width: 150px;
  margin-bottom: 1em;
}
